<p style="color: green"><%= notice %></p>

<%= render @to_do %>

<div>
  <%= link_to "Edit this to do", edit_to_do_path(@to_do) %> |
  <%= link_to "Back to to dos", to_dos_path %>

  <%= button_to "Destroy this to do", @to_do, method: :delete %>

  <h2>Notes</h2>
  <%= render partial: "to_dos/note", collection: @to_do.notes, as: :note %>

  <%= render partial: "to_dos/note_form", locals: { to_do: @to_do } %>
</div>
